<head>
    <div style="text-align: center;">Welcome to the Stribog TTT!</div>

</head>
<body>
<div style="text-align: center;">
    please Login to access the market-overview.
</div>
<div style="text-align: center;">
    <button onclick="location.href='https://login.eveonline.com/account/logon?ReturnUrl=%2Fv2%2Foauth%2Fauthorize%2F%3Fresponse_type%3Dcode%26redirect_uri%3Dhttp%3A%2F%2Flocalhost:8000%2Fsso%2Fcallback%26client_id%3Da4c3306f1c964919addd510956309d7b%26scope%3Desi-markets.structure_markets.v1%26state%3Dd8e17f84-c0c8-495a-892f-98ea0f914ff7'">
        <img src="resouces/eve-sso-login-black-large.png">
    </button>
</div>
</body>